/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* General Styles */
html {
  font-family: "Outfit";
}

body {
  background-color: #e6f3ff;
}

.hero {
  background-color: #fbfaf5;
}

p {
  font-size: 15px;
}
